.button {
    @include flex-center;

    height: var(--button-height);
    padding-inline: 20px;
    color: var(--color-light);
    background-color: var(--color-deep-blue);
    border: 1px solid var(--color-deep-blue);
    border-radius: var(--border-radius);

    @include hover {
        color: var(--color-deep-blue);
        background-color: var(--color-light);
    }

    &--transparent {
        font-weight: 600;
        color: var(--color-light);
        background-color: transparent;
        border: 3px solid var(--color-light);

        @include mobile {
            border: 2px solid var(--color-light);
        }
    }
}