.customers {
    margin-bottom: 30px;

    @include mobile {
        margin-bottom: 20px;
    }

    &__header {
        font-family: var(--font-family-secondary);
        max-width: 600px;
        margin-bottom: 48px;

        @include mobile-sm {
            margin-bottom: 32px;
        }
    }

    &__title {
        @include fluid-text(32, 28);

        font-weight: 600;
        color: var(--color-deep-yellow);
    }

    &__subtitle {
        @include fluid-text(24, 18);

        font-weight: 600;
    }
}
