.section {

    &:nth-of-type(n + 2) {
        padding-block: var(--section-padding-y);
    }

    &:nth-of-type(2) {
        background-color: var(--color-gray-lightest);
    }

    &__title {
        font-family: var(--font-family-secondary);
        font-weight: 600;
    }

    &__header {
        margin-bottom: 16px;

        @include mobile-sm {
            margin-bottom: 12px;
        }
    }
}