$tablet-above: 993px;
$tablet: 992px;

$mobile-above: 769px;
$mobile: 768px;

$mobile-sm-above: 476px;
$mobile-sm: 475px;

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobile-sm-above {
    @media (min-width: $mobile-sm-above) {
        @content;
    }
}

@mixin mobile-sm {
    @media (max-width: $mobile-sm) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}