:root {
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-dark-blue: #020D37;
    --color-deep-blue: #0432DF;
    --color-deep-blue-lighter: #1B4BFF;
    --color-deep-blue-saturated: #CDD6F9;
    --color-deep-blue-saturated-lighter: #e5ebff;
    --color-gray: #4F5261;
    --color-gray-darker: #444444;
    --color-gray-light: #ACAFB8;
    --color-gray-lighter: #EEEEEE;
    --color-gray-lightest: #FAFAFA;
    --color-gray-alt: #4C526A;

    --font-family-base: 'Inter', sans-serif;
    --font-family-secondary: 'Poppins', sans-serif;
    // --font-family-base: sans-serif;
    // --font-family-secondary: sans-serif;

    --border-radius: 8px;
    --border-radius-small: 4px;
    --border-radius-large: 12px;

    --container-width: 1044px;
    --container-padding-x: 28px;

    --section-padding-y: 60px;

    --input-height: 60px;
    --button-height: 44px;
    --button-height-large: 52px;

    --transition-duration: 0.2s;

    @include mobile {
        --container-padding-x: 16px;
        --section-padding-y: 50px;
    }

    @include mobile-sm {
        --input-height: 44px;
        --section-padding-y: 40px;
    }
}